<%= simple_form_for([@product, @survey]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :question %>
    <%= f.input :yes_no %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                product_survey_path(@product, @survey), :class => 'btn' %>
  </div>
<% end %>
