<h1><%= link_to @product.name, @product %> &raquo Listing surveys</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Question</th>
      <th>Yes no</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.question %></td>
        <td><%= survey.yes_no %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.show")),
                        product_survey_path(@product, survey), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_product_survey_path(@product, survey), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      [@product, survey],
                      :method => :delete,
                      :confirm => t('.confirm',
                                  :default => t("helpers.links.confirm",
                                  :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back to product")),
              product_path(@product), :class => 'btn'  %>
  <% if @product.surveys.size < 3 %>
    <%= link_to t('.new', :default => t("helpers.links.new survey")),
                new_product_survey_path(@product),
                :class => 'btn btn-primary' %>
  <% end %>
</div>
