<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @survey.question %>
</p>

<p>
  <b>Yes no:</b>
  <%= @survey.yes_no %>
</p>


<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
