<!DOCTYPE html>
<html>
<head>
  <title>Phonesurvey</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='navbar navbar-fixed-top'>
    <div class='navbar-inner'>
      <div class='container'>
        <a class='btn btn-navbar' data-toggle='collapse' data-target='.nav-collapse'>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </a>
        <a class='brand' href='#'>PhoneSurvey</a>
        <div class='nav-collapse'>
          <ul class='nav'>
            <li><%= link_to "Products", products_path %></li>
            <li><%= link_to "Reports", products_path %></li>
            <li><%= link_to "Contact Us", products_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class='container'>
    <div class='row'>
      <div class='span8'><%= yield %></div>
      <div class='span4'>
        <h2>About Us</h2>
        This is a sample project to show the capabilities of Tropo, in particular the
        `tropo-webapi-ruby`.
      </div>
    </div>
  </div>

</body>
</html>
